<div id="finishMessage" style="display: none;"></div>
<div class="container">
<div class="tableContainer">


<table id="grid">

  <tr>
    <td><input id="cell-0"  inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-1"  inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-2"  inputmode="numeric" maxlength="1"></td>
    
    <td><input id="cell-3"  inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-4"  inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-5"  inputmode="numeric" maxlength="1"></td>
    
    <td><input id="cell-6"  inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-7"  inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-8"  inputmode="numeric" maxlength="1"></td>
  </tr>

  <tr>
    <td><input id="cell-9"  inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-10" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-11" inputmode="numeric" maxlength="1"></td>
    
    <td><input id="cell-12" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-13" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-14" inputmode="numeric" maxlength="1"></td>
    
    <td><input id="cell-15" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-16" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-17" inputmode="numeric" maxlength="1"></td>
  </tr>

  <tr>          
    <td><input id="cell-18" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-19" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-20" inputmode="numeric" maxlength="1"></td>
    
    <td><input id="cell-21" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-22" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-23" inputmode="numeric" maxlength="1"></td>
    
    <td><input id="cell-24" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-25" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-26" inputmode="numeric" maxlength="1"></td>
  </tr>

  <tr>          
    <td><input id="cell-27" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-28" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-29" inputmode="numeric" maxlength="1"></td>
    
    <td><input id="cell-30" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-31" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-32" inputmode="numeric" maxlength="1"></td>
    
    <td><input id="cell-33" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-34" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-35" inputmode="numeric" maxlength="1"></td>
  </tr>

  <tr>          
    <td><input id="cell-36" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-37" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-38" inputmode="numeric" maxlength="1"></td>
    
    <td><input id="cell-39" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-40" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-41" inputmode="numeric" maxlength="1"></td>
    
    <td><input id="cell-42" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-43" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-44" inputmode="numeric" maxlength="1"></td>
  </tr>

  <tr>          
    <td><input id="cell-45" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-46" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-47" inputmode="numeric" maxlength="1"></td>
    
    <td><input id="cell-48" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-49" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-50" inputmode="numeric" maxlength="1"></td>
    
    <td><input id="cell-51" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-52" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-53" inputmode="numeric" maxlength="1"></td>
  </tr>

  <tr>          
    <td><input id="cell-54" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-55" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-56" inputmode="numeric" maxlength="1"></td>
    
    <td><input id="cell-57" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-58" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-59" inputmode="numeric" maxlength="1"></td>
    
    <td><input id="cell-60" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-61" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-62" inputmode="numeric" maxlength="1"></td>
  </tr>

  <tr>          
    <td><input id="cell-63" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-64" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-65" inputmode="numeric" maxlength="1"></td>
    
    <td><input id="cell-66" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-67" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-68" inputmode="numeric" maxlength="1"></td>
    
    <td><input id="cell-69" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-70" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-71" inputmode="numeric" maxlength="1"></td>
  </tr>

  <tr>          
    <td><input id="cell-72" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-73" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-74" inputmode="numeric" maxlength="1"></td>
    
    <td><input id="cell-75" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-76" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-77" inputmode="numeric" maxlength="1"></td>
    
    <td><input id="cell-78" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-79" inputmode="numeric" maxlength="1"></td>
    <td><input id="cell-80" inputmode="numeric" maxlength="1"></td>
  </tr>

</table>
<div class="warningMessage"></div>
</div>

<div class="rightSide">
<button id="checkBtn1" (click)="checkSolution()">Check</button>
<button (click)="reset()">Reset</button>
<button (click)="reload()">New Board</button>
<button (click)="checkIfGameWon()">Finish</button>
<div>Mistakes counter: {{this.mistakeNumber}}</div>

</div>
</div>